.mui-select {
	height: 22px;
	position: relative
}

.mui-select-handle {
	position: relative;
	width: 150px
}

.mui-select-handle .mui-select-input {
	border: 1px solid #C3C3D6;
	display: inline-block;
	padding: 1px 4px;
	width: 140px;
	cursor: default;
	overflow: hidden;
	padding-right: 17px;
	width: 127px;
	height: 18px
}

.mui-select-icon {
	position: absolute;
	left: 133px;
	top: 2px;
	width: 15px;
	height: 18px;
	background:
		url(../images/T1R82DXmNaXXcUkuHX-15-18.gif)
		no-repeat
}

.mui-select-items {
	min-width: 148px;
	max-height: 200px;
	border: 1px solid #99bde2;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	display: none
}

.mui-select-items-con {
	margin: 3px 0;
	padding: 0
}

.mui-select-item {
	list-style: none;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0 8px;
	white-space: nowrap;
	cursor: pointer;
	display: block
}

.mui-select-item-selected {
	background-color: #E7F2FE
}

.mui-select-multiple .mui-select-item-selected {
	background-color: #fff
}

.mui-select-item-hover,.mui-select-multiple .mui-select-item-hover {
	background-color: #cfdff1
}

.mui-select-item-checkbox {
	margin: 0 3px 0 0;
	vertical-align: middle
}

.mui-select-item s {
	color: red;
	text-decoration: none
}

.mui-select-search-input {
	background:
		url(../images/T1yOpLXpRiXXau3FLx-30-160.png)
		no-repeat scroll -13px -124px transparent;
	padding-left: 22px;
	width: 100px;
	margin: 1px;
	border: 1px solid #C3C3D6;
	padding: 1px 5px 1px 22px;
	height: 18px
}