.comm-price {
	vertical-align: middle;
	color: #ec5051;
	white-space: nowrap;
	font-size: 20px;
}

.comm-num-div {
	vertical-align: middle;
	line-height: -2px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	text-align: right;
	line-height: 30px;
}

.comm-num {
	text-align: center;
	width: 60px !important;
	height: 33px !important;
	margin-bottom: 0px !important;
}

.sum-div {
	text-align: right;
	height: 33px;
	line-height: 33px;
}

.comm-sum-text {
	float: left;
}

.mui-left {
	padding-left: 40px !important;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]
	{
	left: 10px !important;
	top: 18px;
	height: 28px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	right: 0;
	z-index: 700;
	left: 0;
	margin-bottom: 0px !important;
}

.footer-div {
	padding: 15px 15px 15px 0px !important;
}

.entp-title {
	background-color: #fff;
	padding: 10px;
}

.order-comm-img {
	max-width: 92px !important;
	width: 92px !important;
	height: 92px !important;
}

.mui-flex {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mui-flex>.cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
	display: block;
	padding: 0 0 0 8px !important;
	position: relative;
}

.mui-flex>.cell.fixed {
	-webkit-box-flex: 0 !important;
	-webkit-flex: none !important;
	-ms-flex: none !important;
	flex: none !important;
	width: auto;
}

.mui-flex>.cell.align-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.cell .title {
	color: #6E7D8B;
}

.order-item {
	background-color: #f5f5f5 !important;
}

.order-itemInfo {
	padding: 9px
}

.order-itemInfo .item-pic .activity {
	margin-top: 5px;
	max-width: 92px
}

.order-itemInfo .item-pic .activity img {
	height: 12px;
	margin-right: 4px
}

.order-itemInfo .item-pic .activity img:last-of-type {
	margin-right: 0
}

.order-itemInfo .img-cell {
	width: 92px !important;
	height: 92px;
	margin-right: 9px;
	overflow: hidden
}

.order-itemInfo .img-cell .img {
	width: 92px;
	height: 92px;
	display: block;
	background-position: 50% 50%;
	-webkit-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat
}

.order-itemInfo .icon-ext, .order-itemInfo .title {
	line-height: 1.5
}

.order-itemInfo .sku-alicommun, .order-itemInfo .sku-info, yhq {
	color: #999
}

.order-itemInfo .sku-level-info {
	color: #f50
}

.order-itemInfo .icon-main .invisible {
	visibility: hidden
}

.order-itemInfo .icon-main .activity, .order-itemInfo .icon-main .item-icon-tip
	{
	display: inline-block;
	font-size: 10px;
	line-height: 12px;
	margin: 0 1px;
	padding: 0 1px;
	background-color: #EE243A;
	color: #fff
}

.order-itemInfo .icon-main .item-icon-more {
	background-color: #f5f5f5;
	color: #f50;
	display: inline
}

.order-itemInfo .icon-main .activity {
	background-color: #f5f5f5
}

.order-itemInfo .icon-main .activity img {
	height: 12px;
	vertical-align: top;
	margin-right: 2px
}

.order-itemInfo .icon-main .activity img:last-of-type {
	margin-right: 0
}

.order-itemInfo .ext {
	font-size: 12px;
	text-align: right
}

.order-itemInfo .ext .price {
	font-weight: bolder;
	color: #f50
}

.order-itemInfo .ext .price .dollar {
	padding: 0 2px
}

.order-itemInfo .ext .price .main-price {
	font-size: 16px
}

.order-itemInfo .ext .weight {
	/* 	margin-top: 9px; */
	color: #999;
	line-height: 18px;
	height: 18px;
}

.order-itemInfo .icon-gift img {
	width: 42px;
	height: 12px
}

.mui-table-view-cell {
	padding: 0px !important;
}

/* åœ°å€ä¿¡æ¯ */
.order-address {
	padding: 10px 9px;
	margin-bottom: 9px;
	background-color: #fff;
	background: #fff
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAKBAMAAACOO0tGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURf///4u16Oxtbezz/J3B7NDh9vvd3fSmprjS8vGNje57e/jDw/7w8IQ3dnAAAABSSURBVCjPY2CAAG4l7GADVJ4hUBArEIXJJ2HXrw6TZ8auX7ABKs+zCLsBE2AGmGDXLwKT58SuX+sATIEjdgOcYfJF2A1Qg8lz4PCBwWgQUiMIAWCaOFG2MdFRAAAAAElFTkSuQmCC)
		-7px bottom repeat-x;
	background-size: 44px 2px;
}

.order-address .icon {
	margin-right: 9px;
	height: 21px;
	width: 21px;
	background: url(../img/step_addr.png) 50% 50% no-repeat;
	background-size: 15px 20px
}

.order-address .content {
	margin-right: 15px;
	margin-bottom: 0px !important;
}

.order-address .content .info {
	line-height: 1.5
}

.order-address .content .detail {
	line-height: 1.3;
	margin-bottom: 2px
}

.order-address .content .ext {
	font-size: 12px;
	line-height: 1.3;
	color: #FFA800
}

.nav {
	width: 6.5px;
	height: 12px;
	background: url(../img/step_next.png) 50% 50% no-repeat;
	background-size: 100%;
}

.comm-img-div {
	width: 92px;
	height: 92px;
}

/* Ì×²ÍÒ³Ãæ */
.tczh-div {
	transform: translate3d(0, 0, 0);
	transition: transform .2s cubic-bezier(0, 0, .25, 1);
	visibility: visible;
	background-color: #fff;
	position: fixed;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 888;
	right: 0;
	bottom: 0;
}

#s-decision-wrapper>.body {
	padding:10px;
	position: absolute;
	top: 80px;
	bottom: 48px;
	left: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#s-decision-wrapper .sku-control, #s-decision-wrapper .cascade-control,
	#s-decision-wrapper .cascade-control-v2, #s-decision-wrapper .service-control,
	#s-decision-wrapper .pickup-control, #s-decision-wrapper .progressive-control
	{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

#s-decision-wrapper h2 {
	color: #666;
	margin-bottom: 10px;
	font-size: 16px;
}

#s-decision-wrapper .summary {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkitbox-shadow: 0 1px 0 rgba(0, 0, 0, .05), 0 .5px 0
		rgba(0, 0, 0, .09);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05), 0 0.5px 0 rgba(0, 0, 0, .09);
}

#s-decision-wrapper .summary {
	height: 78px;
}

#s-decision-wrapper .summary .img {
	margin-left:10px;
	position: relative;
	top: -32px;
	background-color: #fff;
	z-index: 10;
	padding: 2px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	margin-right: 16px;
	height: 100px;
	width: 100px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
}
#s-decision-wrapper .summary .img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

#s-decision-wrapper .main{
	    font-size: 16px;
    height: 100%;
}

#s-decision-wrapper .summary .main .priceContainer {
    font-size: 14px;
    line-height: 10px;
    display: inline-block;
    vertical-align: middle;
}

#s-decision-wrapper .summary .main .priceContainer>span:first-child {
    color: #DD2727;
}
#s-decision-wrapper .summary .main .priceContainer .price {
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    display: block;
    vertical-align: middle;
    padding: 0 8px 0 0;
}
#s-decision-wrapper .stock-control .label {
    margin-right: 5px;
    color: #333!important;
    padding: 0;
}

#s-decision-wrapper .summary .main .sku-dtips {
/*     margin-right: .3rem; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
}
#s-decision-wrapper .summary .main .sku-dtips span {
    padding-left: 5px;
}
#hasSelectTc {
    color: #ff6b6b;
}
#s-decision-wrapper .summary .sback {
    position: absolute;
    width: 24px;
    height: 28px;
    display: block;
    top: 4px;
    right: 4px;
}

.mui-sku label.checked {
    border-color: #ec5051;
    color: #000;
}
.mui-sku label {
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    min-width: 2em;
    padding: 8px;
    margin: 0 8px 8px 0;
    max-width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.option {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.option .ok {
	background: #DD2727;
}

.option .cell {
	height: 48px;
	border: 0;
	font-size: 15px;
	color: #fff;
}

.mui-flex>.cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
	display: block;
	padding: 0 !important;
	position: relative;
}

.cover-decision {
    width: 100%;
    opacity: .7;
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 100;
}