@charset "utf-8";
/**********----------index----------**********/
/*��浣�澶�涔�娓�*/
.guanggao { font-weight: normal; width: 1218px; margin: 0 auto; top:; *top:; _top:-80px; z-index: 6; position: relative;margin-top: 2px; }
.maincont {width:1218px;margin:0 auto;clear:both;}
.sum_f_left{float:left; width: 235px;}
.sum_f_right{float:right; width: 980px;}

.remensous2{ font-weight: normal; background-image: url(../images/canguan_bg.gif); background-repeat: repeat-x; line-height: 27px; font-size: 14px; border: 1px solid #c4bebe; color: #a00e2c; }
.jinquchaxun1 { font-weight: normal; margin-top: 10px; background-image: url(../images/chany_chax.gif); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px;margin-bottom: 10px; }
.sousuo_cont1 { font-weight: normal; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #c4bebe; border-bottom-color: #c4bebe; border-left-color: #c4bebe; margin-bottom: 10px; height: 100%; }

.f_cont_left22 { font-weight: normal; float: left; width: 100%;}
.f_cont_topbg1 { font-weight: normal; background-image: url(../images/jingqugk_bg.gif); background-repeat: repeat-x; line-height: 27px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #bababa; }
.jinqutu129 li { font-weight: normal; padding: 5px 0 0 0;float: left;border: 3px #FFF solid; margin-right: 11px; _margin-right:8px; display: inline-block; width: 226px; height: 320px; margin-bottom: 10px; }
.jinqutu129 { _width: 720px; _margin-top:5px; _margin-left:0px }
.fwqy129 li { font-weight: normal; float: left; margin-right: 11px; _margin-right:8px; display: inline-block; width: 226px; height: 260px; border: 3px solid #eae5e1; margin-bottom: 10px; }
.fwqy129 { _width: 720px; _margin-top:5px; _margin-left:0px }
.jingqu_tu129 { font-weight: normal; margin: 0 auto; text-align: center; margin-top: 5px; height: 225px; vertical-align: middle; }
.jingqu_shuom129 { font-weight: normal; width: 157px; text-align: left; line-height: 18px; margin-top: 3px; padding-left: 10px; }
.jingqu_shuom1229 { text-align: left; background-repeat: no-repeat; background-position: center center; color: #666695; font-size: 14px; margin-bottom: 8px; padding-left: 10px;}
.jingqu_shuom1229 img {cursor: pointer;}

.tabTickets{width: 100%;background-color: #aaa;}
.tabTickets th {
	background-color: #ccc;
	/*color: #ba8c2e;*/
	color: #000;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 3px;
}
.tabTickets td {
	padding: 5px;
	background-color: #fff;
}

.mt2{ width:180px;*width:180px;_width:178px; float:left; background-image:url(../images/jhfq15.jpg); padding-bottom: 10px; }
.mt2 ul{ margin-top:5px; margin-left:6px; line-height: 22px; }
.mt2 ul li{ background-image: url(../images/youjiant_huang.gif); background-position: left center; background-repeat: no-repeat; }
.mt2 ul li span{ display:block; width:20px; height:15px; line-height:15px; text-align: center; float:left; font-size:13px; margin-right:3px; margin-top:4px; font-weight:bold; }
.mt{ width:180px;*width:180px;_width:178px; float:left; background-image:url(../images/jhfq15.jpg); padding-bottom: 10px; }
.mt ul{ margin-top:5px; margin-left:6px; line-height: 22px; }
.mt ul li span{ display:block; width:20px; height:15px; line-height:15px; text-align: center; float:left; font-size:13px; margin-right:3px; margin-top:4px; font-weight:bold; }
.mt ul li .bg1{ color:#FFF; background-image: url(../images/xuanhao001.png); width: 27px; }
.mt ul li .bg2{ color:#FFF; background-image: url(../images/xuhao002.png); width: 27px; }
.mt ul li .bg3{ color:#FFF; background-image: url(../images/xuhao003.png); width: 27px; }
.mt ul li .bg4{ color:#FFF; background-image: url(../images/xuhao004.png); width: 27px; }
.mt ul li .bg5{ color:#FFF; background-image: url(../images/xuhao005.png); width: 27px; }
.mt ul li .bg6{ color:#FFF; background-image: url(../images/xuhao006.png); width: 27px; }
.mt ul li .bg7{ color:#FFF; background-image: url(../images/xuhao007.png); width: 27px; }
.mt ul li .bg8{ color:#FFF; background-image: url(../images/xuhao008.png); width: 27px; }
.mt ul li .bg9{ color:#FFF; background-image: url(../images/xuhao009.png); width: 27px; }
.mt ul li .bg10{ color:#FFF; background-image: url(../images/xuhao010.png); width: 27px; }

.mt1{ width:180px;*width:180px;_width:178px; float:left; background-image:url(../images/jhfq15.jpg); padding-bottom: 10px; }
.mt1 ul{ margin-top:5px; margin-left:6px; line-height: 22px; }
.mt1 ul li{ background-image: url(../images/jiantou.gif); background-position: left center; background-repeat: no-repeat; }
.mt1 ul li span{ display:block; width:20px; height:15px; line-height:15px; text-align: center; float:left; font-size:13px; margin-right:3px; margin-top:4px; font-weight:bold; }
.jinqutu15 li { font-weight: normal; float: left; margin-right: 14px; _margin-right:5px; display: inline-block; width: 160px; }
.jinqutu15 { _width: 700px; _margin-top:5px; _margin-left:10px }

.jinquchaxun12 { font-weight: normal;  background-image: url(../images/jingquchax.gif); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px; }
.remensous1 { font-weight: normal; background-image: url(../images/zhoubi_bg.gif); background-repeat: repeat-x; line-height: 27px; font-size: 14px; border: 1px solid #c4bebe;  color: #216588; }

.jinquchaxun11 { font-weight: normal;  background-image: url(../images/yule_chax.jpg); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px; }
.jinquchaxun2 { font-weight: normal; background-image: url(../images/jiudian_bg.gif); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px; }
.remensous3{ font-weight: normal; background-image: url(../images/zhusu_bg.gif); background-repeat: repeat-x; line-height: 27px; font-size: 14px; border: 1px solid #c4bebe; margin-top: 10px; color: #bf5c02; }

.shagnjiantou { font-weight: normal; line-height: 40px; height: 40px; }
.f_fangxin { font-weight: normal; width: 500px; float: left; padding-left: 10px; }
.jiage { font-weight: bold; width: 50px; float: left; color: #FF6500; text-align: right; padding-right: 20px; font-size: 14px; }
.zaocan { font-weight: normal; width: 80px; float: left; padding-right: 10px; text-align: right; }
.chuangxin { font-weight: normal; width: 70px; float: left; padding-right: 20px; text-align: right; }
.kuandai { font-weight: normal; width: 59px; float: left; text-align: right; }
.caozuo { font-weight: normal; float: left; text-align: center; padding-top: 5px; padding-left: 80px; *padding-left: 50px; _padding-left: 50px; padding-bottom: 10px; }
.ssfw p { font-weight: normal; line-height: 30px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #CCC; padding-left: 10px; width: 710px; }
.shagnjiant { font-weight: normal; width: 10px; }
.shagnjiant { font-weight: normal; float: left; background-image: url(../images/shagnjiant.gif); background-repeat: no-repeat; background-position: left center; width: 15px; height: 30px; vertical-align: middle; padding-top: 10px; }

.jinquchaxun22 { font-weight: normal; margin-top: 10px; background-image: url(../images/chanpjians.jpg); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px;margin-bottom: 10px; }
.fuwujians22 { font-weight: normal; margin-top: 10px; background-image: url(../images/fuwujians.jpg); background-repeat: no-repeat; width: 214px; height: 133px; padding-left: 10px; padding-right: 10px; padding-top: 30px;margin-bottom: 10px; }
/*璐��杞�*/
.cartul{ margin:0 10px 0 10px; }
.cartul li{width:213px;overflow:hidden;border-bottom:1px #CCC dashed; line-height:34px; text-align:left; font-size:12px;}
.cartul li span{float: right;padding-right: 5px;}
.cartulzc{ margin:0 10px 0 10px; }
.cartulzc li{width:200px;overflow:hidden;border-bottom:1px #CCC dashed; line-height:34px; text-align:left; font-size:12px;}
.cartulzc li span{float: right;padding-right: 5px;}
.cartbtn {text-align: center;margin: 10px; cursor: pointer;}
#onlineOrder .del{background: url(../images/delh1.png) no-repeat;width: 20px;height: 20px;display:inline-block;text-indent:-9999px;float:left;margin-left:8px;margin-top:8px;cursor:pointer;}
#onlineOrder .del:hover{background:url(../images/delh.png) no-repeat;margin-left:8px;width:20px;}
.name_ofh{overflow: hidden;height: 24px;width: 205px;display: block;}
.ofCart{overflow: hidden;height: 24px;width: 100px;display: block;}
.flyEffect {position:absolute!important;padding:0 8px;width:150px;overflow:hidden;height:26px;line-height:26px;background:#FFA312;color:#FFF;border-radius:5px;opacity:0;z-index:9999;}
.cartcount{color: #D51A28}

.shagnhu li { font-weight: normal; float: left; text-align: center; width: 90px;}
.shagnhu{ display: inline-block; line-height: 28px; float: left; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; font-size: 14px; }
.f_nav { background-image: url(../images/f_li001.gif); background-repeat: no-repeat; width: 88px; }
.f_nav1 { background-image: url(../images/f_li002.gif); background-repeat: no-repeat; width: 83px; }

.f_cont_left222 { font-weight: normal; float: left; }
.f_fenlei_l { font-weight: normal; float: left; width: 240px; padding-left: 15px; padding-top: 5px; padding-bottom: 5px; }
.f_fenlei_r { font-weight: normal; float: right; width: 64%; padding-top: 8px; }
.f_fenlei_l img { border: 1px solid #CCC; padding: 2px; }
table.tdTab3{ border-collapse:collapse; color: #727272; }
table.tdTab3 td{ padding: 3px; }
.tijiao { width:60px; height:22px; font:bold 12px/21px "瀹��"; color:#000; border:0; cursor:pointer; background-image: url(../images/tijiao.gif); background-repeat: no-repeat; line-height: 25px; }
.fanhui { width:60px; height:22px; font:bold 12px/21px "瀹��"; color:#000; border:0; cursor:pointer; background-image: url(../images/fanhui1.gif); background-repeat: no-repeat; }


#tab { padding-bottom: 4px; padding-left: 4px; width: 970px; padding-right: 4px;  }
#tab .tab-header li { position: relative; text-align: center; line-height: 24px; margin: 0px 8px; width: 146px; bottom: -1px; float: left; height: 24px; color: #333; cursor: pointer; background-image: url(../images/232904_1643551954.png); }
#tab .tab-header li.current {background-position: 0px -30px}
#tab .tab-content {border-bottom: #d1d1d1 1px solid; border-left: #d1d1d1 1px solid; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; border-top: #d1d1d1 1px solid; border-right: #d1d1d1 1px solid; padding-top: 20px}
.fd-clr {zoom: 1}
.fd-clr:after {display: block; height: 0px; clear: both; content: "\0020"}

.tm-shopAction {
padding: 10px;
border-top: 1px dotted #ccc;
}
.tm-shopAction .collection {
margin-left:10px;
color: #35a;
}
.jinrushop {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#2e2b2e;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.jinrushop:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.jinrushop:active {
	position:relative;
	top:1px;
}
/*�╅�*/

.gouwu_nav101 { font-weight: bold; width:980px; margin: 0 auto; height: 28px; line-height: 3028px; font-size: 14px; position: relative; top: -10px; *top: -10px;_top: -90px; background-color: #e4a40b; }
.gouwu_nav101 ul li { line-height: 35px; width: 180px; background-image: url(../images/li010.jpg); background-position: right center; background-repeat: no-repeat; text-align: center; float: left; }
table.tdTab101{ border-collapse:collapse; margin-top: 0px; top: -19px; position: relative; }
table.tdTab101 td{ line-height: 23px; }
.remensous101 { font-weight: normal; background-image: url(../images/zccd.jpg); background-repeat: no-repeat; line-height: 27px; font-size: 14px; color: #FFF; padding-left: 32px; padding-top: 3px; }
.mt101{ width:214px; *width:214px;_width:214px; float:left; background-image:url(../images/jhfq15.jpg); padding-bottom: 10px; }
.mt101 ul{ margin-top:5px; margin-left:2px; line-height: 22px; }
.mt101 ul li{ background-image: url(../images/caid_dg.jpg); background-position: left center; background-repeat: no-repeat; background-color: #CCC; line-height: 30px; margin-bottom: 3px;margin-right:3px; }
.mt101 ul li span{ display:block; width:20px; height:15px; line-height:15px; text-align: center; float:left; font-size:13px; margin-right:3px; margin-top:4px; font-weight:bold; }
.mt101 ul li{ color:#148200; font-weight: normal; }
.mt101 ul li a,a.mt101 ul li,.mt101 ul li a:visited { color:#148200; }
.mt101 ul li a:hover,a.mt101 ul li:hover {color:#cf0000;text-decoration:underline;}
.mt102{ width:214px; *width:214px;_width:214px; float:left; padding-bottom: 10px; background-color: #FFF; }
.f_cont_left102 { font-weight: normal; float: left; width: 100%; }
.footer102 { margin:0 auto; clear:both; padding-bottom:30px; background-color: #FFF; top: -19px; _top: -80px; position: relative; }
.maincont102 {width:960px;margin:0 auto;clear:both;margin-top:10px;_top:-80px; z-index: 1006; position: relative;}
.gouwu_nav102 { font-weight: bold; width:980px; margin: 0 auto; height: 28px; line-height: 28px; font-size: 14px; position: relative; top: -10px; *top: -10px;_top: -10px; background-color: #e4a40b; }
.gouwu_nav102 ul li { line-height: 35px; width: 180px; background-image: url(../images/li010.jpg); background-position: right center; background-repeat: no-repeat; text-align: center; float: left; }
.jinqutu1291 li { font-weight: normal; float: left; margin-right: 11px; _margin-right:8px; display: block; width: 233px; height: 290px; border: 3px solid #eae5e1; margin-bottom: 10px; }
.jinqutu1291 { _width: 720px; _margin-top:5px; _margin-left:0px; padding-left: 5px; padding-top: 10px; width: 750px; }
.jinqutu1291 img{cursor: pointer;}
.jingqu_tu1291 { font-weight: normal; margin: 0 auto; text-align: center; margin-top: 5px; height: 190px; vertical-align: middle; }
.jingqu_shuom1291 { font-weight: normal; width: 157px; text-align: left; line-height: 18px; margin-top: 3px; padding-left: 10px; }
.jingqu_shuom12291 { width: 157px; text-align: left; background-repeat: no-repeat; background-position: center center; color: #666695; font-size: 14px; margin-bottom: 8px; padding-left: 10px; font-family: "寰�蒋���", "榛��"; }
.jingqu_shuom12292 { text-align: center; background-repeat: no-repeat; background-position: center center; color: #666695; font-size: 14px; padding-left: 10px; font-family: "寰�蒋���", "榛��"; }
.lv31 { color:#148200; font-size:14px; font-family: "寰�蒋���", "榛��"; font-weight: bold; }
.lv31 a,a.lv31,.lv31 a:visited {color:#148200; font-size:14px}
.lv31 a:hover,a.lv31:hover {color:#cf0000;text-decoration:underline; font-size:14px}
.lv12 { color:#148200; font-size:12px; font-family: "寰�蒋���", "榛��"; }
.lv12 a,a.lv12,.lv12 a:visited {color:#148200; font-size:14px}
.lv12 a:hover,a.lv12:hover {color:#cf0000;text-decoration:underline; font-size:14px}

/*pd view*/
.pd_name{padding-bottom:10px;border-bottom:1px dotted #ccc;zoom:1;}
.pd_name h1{line-height:normal;text-align:left;font: 700 16px/1.5em Arial,Verdana,"microsoft yahei";}
.clearfix{display:block;}#summary{width:590px;padding:10px 0;}#summary li{padding:10px 0;overflow:hidden;clear:both;}#summary-price{height:18px;overflow:hidden;}#summary-price .p-price{color:#e4393c;font-size:18px;}#summary .dt{float:left;width:72px;text-align:right;}#summary .dd{float:left;width:518px;}.oldPrice{font-size:12px;text-decoration:line-through;font-weight:normal;}
.btns{float: left;height: 38px;margin: 10px;}
a.btn-buy {cursor:pointer ;width:137px; height:39px; display:block; background:url(../images/p-btns-20130514.png) no-repeat 0px -123px;}
a.btn-buy:hover {width:137px; height:39px; display:block; background:url(../images/p-btns-20130514.png) no-repeat  -146px -123px;}
a.btn-cart{cursor:pointer ;width:137px; height:39px; display:block; background:url(../images/p-btns-20130514.png) no-repeat 0px 0px;}
a.btn-cart:hover {width:137px; height:39px; display:block; background:url(../images/p-btns-20130514.png) no-repeat  -146px 0px;}

.btn {background: url(../images/sprite.png) no-repeat;display: inline-block;vertical-align: middle;}
.btn_buy {background-position: 0 -70px;height: 36px;width: 146px;}
a.btn_buy:hover {background-position: 0 -106px;}
.btn_buy_dis {background-position: 0 -142px;height: 36px;width: 146px;}
.btn_wypj {background-position: 0 -973px;height: 36px;width: 146px;}
a.btn_wypj:hover {background-position: 0 -1009px;}
.btn_cart {background-position: 0 -830px;height: 36px;width: 155px;cursor:pointer;}
a.btn_cart:hover {background-position: 0 -866px;}

.star {float:left;display: inline-block;width: 76px;height: 14px;background:url(../images/star.png) no-repeat}
.sa5 {background-position: 0 0;}
.sa4 {background-position: -16px 0;}
.sa3 {background-position: -31px 0;}
.sa2 {background-position: -46px 0;}
.sa1 {background-position: -61px 0;}
.sa0 {background-position: -76px 0;}
/* tabbox */
.tabbox{width: 100%;margin-top:10px auto;position:relative;overflow:hidden;}
.tabbox .tabbtn{height:30px;background:url(../images/tab.png) 0 -41px repeat-x;border-left:solid 1px #ddd;border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;}
.tabbox .tabbtn li{float:left;position:relative;margin:0 0 0 -1px;}
.tabbox .tabbtn li a,.tabbox .tabbtn li span{display:block;float:left;height:30px;line-height:30px;overflow:hidden;width:108px;text-align:center;font-size:12px;cursor:pointer;}
.tabbox .tabbtn li.current{border-left:solid 1px #d5d5d5;border-right:solid 1px #d5d5d5;}
.tabbox .tabbtn li.current a,.tabbox .tabbtn li.current span{border-top:solid 2px #e4393c;height:27px;line-height:27px;background:#fff;color:#e4393c;font-weight:800;}
.tabbox .loading{height:40px;width:432px;text-align:center;position:absolute;left:0;top:120px;}
.tabbox .tabcon{padding:10px;border-width:0 1px 1px 1px;border-color:#ddd;border-style:solid;line-height: 22px; }
.tabbox .tabcon li{height:24px;line-height:24px;overflow:hidden;}
.tabbox .tabcon li span{margin:0 10px 0 0;font-family:"瀹��";font-size:12px;font-weight:400;color:#ddd;}

/*璇�环*/
#comment{border-top:2px solid #999;}#comment .mtcomm{overflow:visible;height:30px;line-height:30px;background:0;border-left:1px solid #ddd;border-right:1px solid #ddd;}#comment h2{padding:0 12px;font-size:14px;}#comment .mc{clear:both;padding:10px 0;overflow:hidden;zoom:1;border:1px solid #ddd;border-top:0;}#comment .rate{float:left;width:190px;padding:20px 0 0;text-align:center;}#comment .rate strong{font:400 46px/30px arial;color:#e4393c;}#comment .rate strong span{font-size:24px;color:#e4393c;}#comment .rate span{color:#999;font-family:arial;}#comment .percent{float:left;width:286px;height:74px;padding:8px 0;border-right:1px solid #E4E4E4;}#comment .percent dl{padding:2px 0;overflow:hidden;zoom:1;}#comment .percent dt{float:left;width:70px;}#comment .percent dd{float:left;width:100px;height:10px;margin-top:6px;overflow:hidden;background:#efefef;}#comment .percent span{color:#9C9A9C;}#comment .percent dd div{overflow:hidden;height:10px;width:0;background:-webkit-gradient(linear,0 0,0 100%,from(#ed0000),to(#a50000));background:-moz-linear-gradient(top,#ed0000,#a50000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0000',endColorstr='#a50000');}#comment .actor{width:420px;padding:5px 15px 0;float:left;position:relative;height:85px;line-height:15px;overflow:hidden;zoom:1;display:block;}#comment .actor ul{margin-top:5px;height:40px;overflow:hidden;}#comment .actor li{float:left;width:135px;height:18px;line-height:18px;padding:2px 5px 2px 0;overflow:hidden;}.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}

#div_pj .item {
position: relative;
padding: 0 0 2px 120px;
margin-top: 8px;
background: #fff;
zoom: 1;
}#div_pj .user {
position: absolute;
top: 10px;
left: 0;
width: 120px;
text-align: center;
color: #9C9A9C;
}#div_pj .user .u-name {
width: 120px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}#div_pj .i-item {
padding: 10px 15px 5px;
border: 1px solid #d0e4c2;
background: #fcfffa;
}#div_pj .o-topic {
padding: 0 0 2px;
margin-bottom: 10px;
border-bottom: 1px solid #d0e4c2;
overflow: hidden;
zoom: 1;
}#div_pj .comment-content dl {
padding: 2px 0;
overflow: hidden;
zoom: 1;
}#div_pj .dl-extra {
clear: both;
}#div_pj .item .btns {
clear: both;
padding: 10px 0 5px;
overflow: hidden;
zoom: 1;
line-height: 20px;
}#div_pj .comment-content dt {
float: left;
width: 62px;
text-align: right;
color: #9C9A9C;
}#div_pj .comment-content dd {
float: left;
word-wrap: break-word;
}#div_pj .date-comment {
float: right;
color: #9C9A9C;
margin-left: 10px;
}
.flabox {position:relative;width:100%;margin:0 auto;clear:both;z-index: 99;}
.rfla { position:absolute;right:22px;top:100px;width:80px;height:75px;background:#ee310b;border:1px solid #ee310b;border-radius:2px;}
.rfla h3 {margin:8px 0;font:normal 12px "瀹��";color:#fff;text-align:center;}
.rfla h2 {margin:0 10px;font-size:2.7em;font-family:Arial;font-weight:normal;color:#fff;text-align:center;}
.rfla b {color: #fff;float: right;cursor: pointer;}

.J_TDialogTrigger{
	line-height: 25px;
	cursor: pointer;
	text-decoration:none;
}
.J_TDialogTrigger .tb-icon{
background: url(../images/entp_icon.png);
background-position: -120px 0;
display: inline;
float: left;
margin: 4px 5px 0 0;
width: 16px;
height: 16px;}

.jrdpButton{
display: inline;
float: left;
margin-right: 5px;
width: 76px;
height: 28px;
text-align: center;
color: #666;
line-height: 28px;
border: 1px solid #ededed;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
background: #fafafa;
}

.btn_buyForEntpList {background: url(../images/enterEntp.jpg);height: 21px;width: 70px;}
.btn_buyForEntpList:hover {background: url(../images/enterEntp-1.jpg);}

.btn_buyForPdList {background-position:-80px -220px;height: 21px;width: 70px;}
.btn_buyForPdList:hover {background-position: -80px -241px;}

.btn_buyForPdListShouCan {background-position: 0 -220px;height: 21px;width: 80px;}
.btn_buyForPdListShouCan:hover {background-position: 0 -241px;}

.tm-tableAttr {
border: 1px solid #E5E5E5;
width: 100%;
margin-bottom: 10px;
border-collapse: collapse;
}
.tm-tableAttr .tm-tableAttrSub th {
text-align: left;
color: #404040;
background-color: #F7F7F7;
font-weight: 700;
border-top: 1px solid #E5E5E5;
border-right: 1px solid #E5E5E5;
}
.tm-tableAttr tbody td{
border-top: 1px solid #F7F7F7;
}
.tm-tableAttr td, .tm-tableAttr th {
padding: 5px;
}
.tm-tableAttr tbody th {
border-right: 1px solid #F7F7F7;
border-top: 1px solid #F7F7F7;
}
.tm-tableAttr th {
font-weight: 400;
text-align: right;
width: 22%;
}
.tm-tableAttr th, .tm-tableAttr thead td {
padding-left: 20px;
}
.tm-tableAttr th, .tm-tableAttr thead {
color: #999;
}
.tm-tableAttr td{
padding: 5px;
}
#deal-record div {
	width:100%;
	overflow:hidden
}
#deal-record .tb-deal-statistics {
padding: 8px 10px;
border: 1px solid #D7D7D7;
border-bottom: 0;
background-color: #f9f9f9;
width: auto;
}
#deal-record{
font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
#deal-record .tb-deal-statistics .tb-blue {
font-weight: 700;
color: #2658B4;
}
#deal-record .tb-public-price .tb-rmb-num {
font-weight: 700;
color: #f50;
}
#deal-record .tb-public-price span {
margin-left: 15px;
color: #808080;
}
#deal-record .tb-public-notice .tb-public-price {
padding: 8px 10px;
border: 1px solid #D7D7D7;
}
#J_showBuyerList .tb-list {
table-layout: fixed;
width: 100%;
color: #404040;
border: 1px solid #d7d7d7;
border-top: 0 none;
font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
#J_showBuyerList .tb-list th {
padding-bottom: 5px;
text-align: center;
height: 30px;
border-bottom: 1px solid #f0f0f0;
font-weight: bold;
}
#J_showBuyerList .tb-list tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#J_showBuyerList .tb-list .tb-buyer {
padding-left: 15px;
}
#J_showBuyerList .tb-list td {
padding: 10px 0px;
border-bottom: 1px dashed #f2f0f0;
text-align: center;
}
#J_showBuyerList .tb-sellnick {
display: block;
margin-bottom: 3px;
}
#J_showBuyerList .tb-buyer img {
margin-right: 5px;
}
#J_showBuyerList td.tb-price {
font-weight: 700;
color: #f50;
}
#J_showBuyerList .tb-sku {
width: 18%;
}
#J_showBuyerList .tb-sku-wrap {
position: relative;
_position: static;
overflow: hidden;
}
#J_showBuyerList .tb-sku-wrap p {
display: inline-block;
margin-right: 10px;
overflow: hidden;
word-wrap: break-word;
}
#promote .tb-mjs {
position: relative;
width: auto;
background: #FFF;
height: 140px;
padding: 11px 20px 20px;
border: 1px solid #E8E8E8;
}
#promote .tb-mjs-data {
position: absolute;
}
#promote .tb-mjs h3 {
margin-bottom: 5px;
padding-left: 55px;
line-height: 23px;
background: url(../images/discount_stroe.png) no-repeat;
background-position: -45px -88px;
}
.tb-mjs .tb-intro-title {
margin: 15px 0 10px;
}
.tb-mjs .tb-intro-content {
margin: 8px 0 8px 24px;
}
.tb-mjs .tb-remark {
color: #9C9C9C;
margin-top: 15px;
}
.tabbox .tabcon {
line-height: 22px;
}
.tb-mjs .tb-exceptional-area {
color: #9C9C9C;
}
#promote .tb-mjs .tb-indate {
margin-left: 5px;
font-weight: 400;
color: #808080;
}
#promote .tb-pagination {
position: absolute;
top: 20px;
right: 15px;
float: right;
}
#promote .tb-next, #promote .tb-prev {
float: right;
display: block;
overflow: hidden;
height: 16px;
width: 16px;
text-indent: -9999px;
background: url(../images/discount_stroe.png) no-repeat;
outline: 0;
margin: 0 5px;
}
#promote .tb-page-indicator {
float: right;
color: #909090;
font-weight: 700;
height: 16px;
line-height: 16px;
}
#promote .tb-pagination .tb-current {
color: #F40;
}
#promote .tb-page-indicator {
color: #909090;
font-weight: 700;
line-height: 16px;
}
#promote .tb-next {
background-position: -16px -84px;
}
#promote .tb-prev {
background-position: 0 -84px;
}
#promote .tb-next:hover {
background-position: -16px -100px;
}
#promote .tb-prev:hover {
background-position: 0 -100px;
}
#promote .tb-indicator {
position: absolute;
top: 0;
left: 0;
z-index: 10;
width: 100%;
overflow: hidden;
text-align: center;
display: none; 
}
#promote .tb-mjs .tb-indicator {
height: 100%;
}
#promote .tb-indicator-mask {
width: 100%;
height: 100%;
background: #FFF;
opacity: .8;
filter: alpha(opacity=80);
-ms-filter: "alpha(opacity = 080)";
}
#promote .tb-indicator-msg {
position: absolute;
top: 50%;
left: 50%;
width: 748px;
height: 16px;
margin: -8px 0 0 -379px;
color: #F40;
}
#coupon-list {
	width:100%;
}
.coupon-box {
	float:left;
	padding: 5px 2px;
	font-family:tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
	font-weight:lighter;
}

.coupon {
	background-image:url(../images/yhq_ht.png);
	background-position:-123px 0;
	width:241px;
	height:258px;
	position:relative;
}

.coupon.expiring:after {
	background-image:url(../images/yhq_ht.png);
	background-position:0 -13px;
	width:61px;
	height:57px;
	position:absolute;
	bottom:1px;
	right:1px;
	content:'';
}
.coupon-upper {
	position:relative;
	font-size:13px;
	width:100%;
	height:148px;
	color:white;
}

.coupon-upper>a {
	display:block;
	float:left;
	position:absolute;
	color: #FFF;
	text-decoration: none;
}
.coupon-upper .price-symbol {
top: 18px;
left: 6px;
font-size: 24px;
font-weight: normal;
font-family: "Microsoft Yahei","Simsun";
}
.coupon-upper .amount {
	top:15px;
	left:28px;
	font-size:52px;
	font-weight:normal;
}
.coupon-upper .scope {
top: 30px;
right: 20px;
font-weight: bold;
}
.coupon-upper .lb-shop-name {
top: 70px;
left: 9px;
}
.coupon-upper .shop-name {
top: 70px;
left: 80px;
color: #FFF;
text-decoration: none;
}
.coupon-upper .shop-name:hover {
text-decoration: underline;
color: #FACEB1;
}
.coupon-upper .lb-use-cond {
top: 90px;
left: 9px;
}
.coupon-upper .use-cond {
top: 90px;
left: 74px;
}
.coupon-upper .lb-valid-date {
top: 110px;
left: 9px;
}
.valid-date {
top: 110px;
left: 74px;
}
.coupon-lower {
margin-top: 13px;
width: 100%;
margin-left: 5px;
color: #9F9F9F;
}
.coupon-lower>div {
float: left;
margin-left: 3px;
text-align: center;
}
.coupon-lower>div img {
	width:70px;
	height:70px;
}
.coupon-lower>div>a {
	font-size:12px;
	text-decoration: none;
	color: #9F9F9F;
}

.coupon-box-bottom {
	height: 12px;
	width: 200px;
	margin: 15px auto;
	text-align: center;
}
.coupon-box-bottom>a {
	cursor: pointer;
	color: #9F9F9F;
}

.cp-bg-color-1 {
	background-color:#81CCCD;
}
.cp-bg-color-1:hover {
	background-color:#22A8AA;
}
.cp-bg-color-2 {
	background-color:#F18B8B;
}
.cp-bg-color-2:hover {
	background-color:#FF7396;
}
.cp-bg-color-3 {
	background-color:#FFC160;
}
.cp-bg-color-3:hover {
	background-color:#F2A94A;
}
.cp-bg-color-4 {
	background-color:#A3DE99;
}
.cp-bg-color-4:hover {
	background-color:#6FC361;
}
.lq_gwq {
z-index: 1;
height: 30px;
margin-top: 10px;
padding: 5px 10px;
border: 1px solid #EFEFEF;
font-weight: 700;
color: #FFF;
background-color: #5BB600;
text-align: center;
cursor: pointer;
border-radius: 6px;
}