html{
	background-color: #fff;
}
* {
    resize: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "微软雅黑";
}
.content{
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
.content .card{
	width: 85%;
	height: 180px;
	margin: 0px auto 10px auto;
	background: url(bg2.png) center no-repeat;
	background-size: cover;
	border-radius: 10px;
	position: relative;
}
.content .card .left{
	width: 70%;
	height: 50px;
	position: relative;
	padding: 15px 0 10px 15px;
	float: left;
}
.content .card .left .img{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 18px;
	left: 20px;
}
.content .card .left .msg1{
	line-height: 30px;
	font-size: 0.3rem;
	color: #fff;
	margin-bottom: 0px!important;
}
.content .card .left .msg2{
	line-height: 20px;
	font-size: 0.25rem;
	color: #fff;
}
.content .card .right{
	text-align: right;
	width: 30%;
	height: 50px;
	position: relative;
	float: right;
	padding: 15px 0 10px 15px;
}
.content .card .right img{
	width: 34px;
	height: 34px;
	padding: 3px;
	background-color: #fff;
	border-radius: 5px;
	float: right;
	margin: 22px;
}
.content .card .bottom{
	width: 100%; 
	position: absolute;
	bottom: 0;
	padding: 4px 13px 6px 10px;
}
.content .card .bottom .msg1{
	line-height: 25px;
	text-align: left;
    font-size: 10px;
    color: #fff;
    float: right;
}
.content .card .bottom .msg2{
	line-height: 30px;
	font-size: 0.25rem;
	color: #fff;
	float: right;
	text-align: right;
}


.content .items{
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #eee;
	padding: 1px 0;
}
.content .items .item{
	width: 33.3333%;
	height: 70px;
	border-right: 1px solid #fafafa;
	float: left;
	padding-top: 10px;
}
.content .items .item:last-child{
	border-right: none;
}
.content .items .item .p1{
	line-height: 20px;
	text-align: center;
	color: #555;
	font-size: 0.25rem;
}
.content .items .item .p2{
	line-height: 40px;
	text-align: center;
	color: rgb(251,0,0);
	font-size: 0.37rem;
}
.content .lists{
	width: 92%;
	margin: 0 auto;
}
.content .lists .list{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #eee;
	padding: 0 3px;
}
.content .lists .list .left{
	width: 50%;
	float: left;
	line-height: 50px;
	font-size: 0.3rem;
	color: #333;
}
.content .lists .list .right{
	width: 50%;
	float: left;
	line-height: 50px;
	font-size: 0.25rem;
	text-align: right;
	color: #888;
}
