@charset "utf-8";
/*topmenu*/
.header-wrap{width:100%;height:37px;margin:0 auto;clear:both;border-bottom:3px solid #ffa801;background:#fff;}
.main .tuan-catg-info{background-color:#fff}
.header{z-index:9999}
.navwrap{height:37px;}
#nav{height:37px;width:1200px;margin:0 auto;position:relative;padding:0;z-index:8}
.navbar{height:37px;padding-left:250px;position:relative}
.navbar .menu a{float:left;width:auto;text-align:center;height:37px;line-height:37px;color:#666;padding:0 25px;text-decoration:none;font-size:15px;font-family:"\5FAE\8F6F\96C5\9ED1";white-space:nowrap;position:relative}
.navbar .online{float:right;width:310px;height:37px;font:normal 15px/37px "Microsoft Yahei";overflow:hidden;}
.navbar .online p{background:url(../images/toptel.jpg) 0px 12px no-repeat; padding-left:22px; float:left; display:block;}
.navbar .online span{float:right; margin-top:8px; display:block;}
.navbar a:hover{color:#ffa801;text-decoration:underline;}
.navbar a.current{color:#ffa801;text-decoration:none;}
.navbar a:hover{color:#ffa801;text-decoration:underline;}
.navbar a.current:hover{color:#ffa801}
.pros{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 220px;
}
.pros h2{text-align: left;padding-left: 40px;	background-color: #ffa801;width:180px;height:38px;line-height:38px;color:#fff;font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1";}
.subpage h2{cursor:pointer}
/*.subpage h2{background:url(../images/icon2.png) no-repeat 170px -193px;cursor:pointer}*/
.list_position_down{background:url(../images/icon_list.png) no-repeat 170px -21px;cursor:pointer}
.list_position_up{background:url(../images/icon_list.png) no-repeat 170px 8px;cursor:pointer}
.subpage .prosul{display:block;}
.prosul{opacity: 0.8;width:218px;margin-top:2px;_overflow:hidden;height:364px;background-color:#fff;border:1px solid #e3e3e3;font-family:"\5FAE\8F6F\96C5\9ED1";}
.prosul:hover{opacity: 1;}
.prosul li{height:40px;_overflow:hidden;border-bottom:1px solid #e3e3e3;padding-left:40px}
.prosul li:last-child{height:37px;border-bottom:none;}
.prosul li.prosahover{border-right:0;margin-right:0;padding-right:3px;}
.prosul a{color:#fff;font-family:"宋体";padding-right:5px;_padding-right:5px;white-space:nowrap;display:inline-block;}
.prosul li.prosahover a{color:#636363}
.prosul li a.ti{font-size:14px;font-family:"微软雅黑";color:#333;line-height:40px;}
.prosul li.prosahover a.ti{color:#ffa801}
.prosul li a:hover{color:#ffa801}
.prosul li.nochild a:hover{color:#fff}
.prosul li i{float:right;display:block;width:9px;height:45px;padding-right:12px; background:url(../images/r_row.png) left center no-repeat}
.prosul li i.iconfont{ float:left; width:20px; height:40px; line-height:40px; color:#FFA801; font-size:16px; position:absolute; left:15px; background:none }
.prosul li.prosahover i{background-position:0 -218px}
.prosul li.last{border-bottom:0 none}
.prosul li.bd-solid{border-bottom:1px #c22900 solid}
.prosul li.hotareas{background-image:none;padding-left:12px;line-height:26px;height:106px;*overflow:hidden}
.prosul li.hotareas i{line-height:30px;margin-top:-2px;height:40px;background-position:0 -238px}
.prosul li.prosahover i.i-area{background-position:0 -329px}
.prosul li.hotareas a{line-height:30px;height:30px}
.prosul li h2{padding-left:0;line-height:40px;display:inline}
.prosul li.prosahover h2{color:#ffa801}
.prosmore{padding:15px 0 15px 15px;position:absolute;z-index:9997;left:220px;top:40px;background-color:#fff;border:2px #f3f3f3 solid;border-left:0 none;width:214px;}
.prosul .prosmore{text-align:left;min-height: 333px}
.prosul .prosmore span{float:left;height:36px;width:107px;line-height:22px}
.prosul li .prosmore a{height:18px;line-height:18px;padding:0 4px}
.prosul li .prosmore a:hover{background-color:#fa5900;color:#fff}
.prosmore em{font-weight:400;padding-top:9px;display:inline-block}
.hide{display:none}

/*-focus-*/
.main_image {width:100%; height:366px; overflow:hidden; margin:0 auto; position:relative;}
.main_image ul {width:100%; height:366px; overflow:hidden; position:absolute; top:0; left:0}
.main_image li {float:left; height:366px;position: absolute;top: 0px;left: 0px;width: 1663px;}
.main_image li span {display:block; width:100%; height:366px}
.main_image li a {display:block; width:100%; height:350px}
div.flicking_con {width:760px; margin:0 auto; position:relative}

div.flicking_con .flicking_inner {
	position: absolute;
	top: 321px;
	left: 376px;
	z-index: 999;
	width: 300px;
	height: 21px
}
div.flicking_con a {float:left; width:21px; height:21px; margin:0; padding:0; background:url('../images/icon.png') 0 -267px no-repeat; display:block; text-indent:-10000px}
div.flicking_con a.on {background-position:0 -307px}

/*商家入驻*/
.membercont {width:1200px;margin:0 auto;clear:both; position:relative;z-index:8;}
.memberbox {
	width: 225px;
	height: 366px; border-left:#e5d9d0 solid 1px;border-right:#e5d9d0 solid 1px;
	background-color:rgba(255,255,255,0.9);
	position: absolute;
	top: -366px;
	right: 0;
	z-index: 200;
}
.ban_adv{ top:-160px; position:absolute;width:760px;height:160px;left:220px;z-index:200; }
.member_top { text-align:left; width:227px;}
.member_top h1{font:normal 16px/44px "Microsoft Yahei";line-height:44px;height:44px; border-bottom: dotted 1px #e8e7e5 float:left; background-color:#fff;width:207px; padding-left:18px; }

.member_top ul{padding-bottom:10px; margin-right:10px; border-bottom:dashed 1px #e5dad1;}
.member_top ul li{ line-height:26px; height:26px;}
.member_top ul li span{ color:#999;font:normal 12px/36px "Microsoft Yahei";}
.member_top ul li a{ color:#555;line-height:26px; height:26px;}
.member_top ul li b{ color:#999; font-weight:normal}
.member_top p{ overflow:hidden}
.member_top p img{ padding:16px 20px; border-right:#e3e3e3 solid 1px}
.member_top p img.bro{ border-right:none;}

/*信息公告栏*/
.informationbox {width:220px;height:460px;background-color:#fff;position:absolute; top:0;right:0;z-index:200;}
.information,.merchandise{height:230px;}
.information_tit,.merchandise_tit{height:28px; text-align:center; font:normal 14px/28px "Microsoft Yahei"; color:#fff; background:#bbb; position:relative;}
.information_tit span{position:absolute; left:50px; top:5px; width:14px; height:18px; display:block; background:url(../images/information.png) no-repeat;}
.merchandise_tit span{position:absolute; left:50px; top:5px; width:15px; height:18px; display:block; background:url(../images/information.png) -20px 0px no-repeat;}
.information_cont ul li{padding-left:22px; line-height:39px; border-bottom:1px #efefef dashed;}
.information_cont ul li.nb{border-bottom:none;}
.merchandise_cont{position:relative; }
.merchandise_cont h4{position:absolute; left:0px; top:127px; width:220px; text-align:center; font:bold 14px/20px "Microsoft Yahei"; overflow:hidden;}
.merchandise_cont p{position:absolute; left:0px; top:150px; width:220px; text-align:center; font-size:12px; color:#666; font-family:"Microsoft Yahei","Arial";}
.merchandise_cont .snap{position:absolute; left:84px; top:172px;}
#maincont{width:100%; background-color:#fff;}
#maincontent{width:100%; background-color:#f3f3f3;}
/*今日特价*/
.special{width:220px; float:left;}
.cont{position:relative; }
.cont h4{position:absolute; left:0px; top:205px; width:220px; text-align:center; font:normal 12px/20px "Microsoft Yahei"; overflow:hidden;}
.cont p{position:absolute; left:0px; top:232px; width:220px; text-align:center; font-size:12px; color:#e80000; font-family:"Arial";}
.cont p b{font-size:26px; font-weight:normal;}
.cont p span{color:#999; text-decoration:line-through; margin:0px 0px 0px 5px;}
.cont .snap{position:absolute; left:72px; top:262px;}
.recommend{width:759px; float:left;}
.offer{width:252px; height:180px; position:relative; float:left; border-left:1px #f8f8f8 solid; border-bottom:1px #f8f8f8 solid;}
.offer h4{position:absolute; left:20px; top:20px; width:200px; font:normal 12px/20px "Microsoft Yahei"; overflow:hidden;}
.offer p{position:absolute; left:20px; top:45px; width:200px; font-size:12px; color:#e80000; font-family:"Arial";}
.offer p b{font-size:22px; font-weight:normal;}
.offer p span{color:#999; text-decoration:line-through; margin:0px 0px 0px 5px;}
.offer .snap{position:absolute; left:20px; top:130px;}
.nb{border-bottom:none;}
.spike{width:220px; float:left; border-left:1px #f8f8f8 solid;}
/*adv*/
.adv1 {margin:0 auto;clear:both;width:1200px;padding-top:40px;}
/*product*/
.floor{width:1200px; margin:0px auto;}
.floor_one{overflow:hidden; background:#FFF; padding-bottom:15px;}
.floor_title{width:1200px; height:44px;  }
.floor_tit_two{ border-bottom:#e7e7e7 solid 1px}
.floor_tit_three{background:url(../images/floor_tit_three.jpg) left bottom repeat-x;}
.l_one{float:left; width:400px; color:#999;font:normal 16px/40px "Microsoft Yahei";}
.l_one_more{float:right;color:#999;font:normal 16px/40px "Microsoft Yahei";}
.l_font{font:normal 12px/20px "Microsoft Yahei";  text-transform:uppercase;}
.l_font h2{font:normal 22px/22px "Microsoft Yahei"; color:#000; }
.l_one h1{font:normal 20px/40px "Microsoft Yahei"; color:#c00; display:block; float:left; padding-right:20px; background:url(../images/today_bg.jpg) right center no-repeat;}
.l_one h1.floor2{color:#6390f7; }
.l_one h1.floor3{color:#1aca75; }
.l_one span{font:normal 11px "Arial"; color:#ccc; text-transform:uppercase; display:block; float:left; margin:22px 0px 0px 12px;}
.l_one_r{float:right; color:#000; margin:18px 0px 0px 0px; font:normal 14px/20px "Microsoft Yahei";}
.l_one_more{float:right; margin:18px 0px 0px 12px; font:normal 14px/20px "Microsoft Yahei";}
.l_one_r a,.l_one_more a{color:#000; }
.floor_down{width:1190px; height:auto;  background:#fff; border:#e9e9e9 solid 5px;}
.floor_down .newheight{height:105px; padding:15px 8px 0 8px; }
.floor_down .newheight a{float:left;}
.newheight img{ margin:4px;}
.floorLeft{width:240px; height:366px; float:left;background:#f4935f url(../images/floor_one_bgs.jpg) bottom no-repeat ; position:relative}
.floorlink{
	position: absolute;
	top: 338px;
	width: 50px;
	height: 30px;
	text-indent: 100px;
	left: 23px;
}

/*楼层*/
.side{float: left;
    width: 220px;height:482px;
    overflow: hidden; 
    font-family: "microsoft yahei";}
.side .banner{position: relative;
    height: 482px;}
	.side .banner a{display: block;
    height: 482px;}
	
	
	.side img{    vertical-align: top;}
	
	
	
	.themes {
    position: relative;
    left: 10px; width:170px;
	padding:15px;
    height: 150px;
    top: -190px;
    overflow: hidden;
    background: rgba(255,255,255,.6);}
	.themes li a{
    float: left;
    width: 72px; color:#014b31;
    height: 24px; line-height:24px; text-align:center; background:#FFF; margin:6px;
	font:normal 12px/24px "宋体";
}




.assists {
	position: relative;
	height: 48px;
	padding: 21px 0 0 21px;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	background: rgba(255,255,255,.7);
	background-color: rgba(255,255,255,.7);
}
	.assists li a {
    white-space: nowrap;
}
.words {
    position: relative;
    height: 76px;padding: 21px 0 0 21px;
    background: rgba(255,255,255,.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF);
    font-family: \5b8b\4f53;
}
.words a {
    float: left;
    margin-right: 10px;
    line-height: 24px;
    white-space: nowrap;
}
.main {
    position: relative;
    float: left;
    width: 980px;
    height: 482px;
    overflow: hidden;
}


.main-body {
    width: 778px;  float:left
}
.main-body li {
    float: left;
    height: 240px;
}
.main-body li.fore2,.main-body li.fore4 {
    padding-left: 334px;
	width:201px;
}
.main-inner li {
    width: 240px;
    overflow: hidden;
    font-size: 0;border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.main-extra {
    display: block;
    float: left;
    width: 201px;
}
 .main-extra li {
    height: 240px;  width: 201px;border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.slider {
	width: 334px;
	height: 482px;left: 240px;
	position: absolute
}


.brands {
    background: #f7f7f7;
    padding: 13px 0 13px 11px;}
	.brands ul {
    height: 40px;
    overflow: hidden;
}
.brands li.fore1 {
    border-left: none;
}
.brands li {
    float: left;
    width: 120px;
    height: 40px;
    border-left: 1px dotted #ccc;
    text-align: center;
}
.sidered{float: left;
    width: 220px;
    overflow: hidden;
    font-family: "microsoft yahei";}
	.sidered .banner{position: relative;
    height: 338px;}
	.sidered .banner a{display: block;
    height: 338px;}
.mainred {
    position: relative;
    float: left;
    width: 980px;
    height: 338px;
    overflow: hidden;
}
.mainred-body {
    width: 775px;  float:left
}
.mainred-body li {
    float: left; margin-left:380px;
    height: 168px;
}
.mainred-body li.fore2 {
	left:197px; position:absolute;
	width:196px;
}
.mainred-body li.fore4 {
	left:197px; position:absolute;top:169px;
	width:196px;
}
.mainred-inner li {
    width: 196px;
    overflow: hidden;
    font-size: 0;border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.mainred-extra {
    display: block;
    float: left;
    width: 204px;
}
 .mainred-extra li {
     width: 204px;border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.mainredslider {
	width: 380px;
	height: 338px;left: 0;
	position: absolute
}
/*sfocus*/
.mainredslideBox{
	width: 380px;
	height: 338px;
	
} 
.mainredslideBox .hd{ height:11px; overflow:hidden; position:absolute; right:140px; bottom:8px; z-index:1;} 
.mainredslideBox .hd ul{ overflow:hidden; zoom:1; float:left;  } 
.mainredslideBox .hd ul li{float:left; margin-right:11px; width:11px; height:11px; text-indent:-50000px; background:url(../images/sfocus.png) right 0px no-repeat; cursor:pointer; font-size:0px;} 
.mainredslideBox .hd ul li.on{background:url(../images/sfocus.png) left 0px no-repeat;} 
.mainredslideBox .bd{ position:relative; height:100%; z-index:0;} 
.mainredslideBox .bd img{ width:380px; border-bottom:1px solid #e7e7e7; }

.slideBox .hd{ height:11px; overflow:hidden; position:absolute; right:140px; bottom:8px; z-index:1;} 
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  } 
.slideBox .hd ul li{float:left; margin-right:11px; width:11px; height:11px; text-indent:-50000px; background:url(../images/sfocus.png) right 0px no-repeat; cursor:pointer; font-size:0px;} 
.slideBox .hd ul li.on{background:url(../images/sfocus.png) left 0px no-repeat;} 
.slideBox .bd{ position:relative; height:100%; z-index:0;} 
.slideBox .bd img{ width:334px; border-bottom:1px solid #EDEDED; }

.piclist ul li{ width:289px; height:219px; float:left; margin-left:14px; margin-bottom:14px; position:relative; z-index:0; border-bottom:#f0f0f0 solid 2px;}
.piclist ul li.mln{ margin-left:0px;}
.piclist ul li a{  background:url(../images/img_bg.png) center center no-repeat; z-index:200; position:absolute; top:53px; left:90px; width:103px; height:103px; display:block; text-align:center; font:normal 20px/103px "Microsoft Yahei"; color:#fff;}
.piclist ul li.more{ background-color:#c1c1c1;}
.piclist ul li.more a{ background:none; color:#000;font:normal 18px/50px "Microsoft Yahei";}
.piclist ul li.more a span{ color:#555555;font:normal 16px/20px "Microsoft Yahei";}

 .floorLeft_floor2{background:#6390f7 url(../images/floor_two_bgs.jpg) bottom no-repeat ;}
  .floorLeft_floor3{background:#6bdea7 url(../images/floor_three_bgs.jpg) bottom no-repeat ;}
.loufont_left{width:224px; height:387px; padding:8px;}
.loufont_left li{float:left; width:30px; height:30px; padding:15px 15px; font:normal 12px/14px "Microsoft Yahei"; margin:8px 7px; text-align:center; background:url(../images/loufont_left_bg.png) no-repeat;display: table-cell;
  vertical-align: middle;}
.floorCentent{width:1188px; float:left; margin-left:2px; display:inline; overflow:hidden; height:366px;}
.floorCentent ul li{
	width: 236px;
	height: 366px;
	float: left;
	overflow: hidden;
	margin: 0;
	position: relative;
	border-right: 1px solid #e7e7e7;
}
.floorCentent ul li.bro{border-right:0px}
.floorCentent ul li .box{
	position: relative;
	left: 10px;
	top: 13px;
	width: 218px;
	height:346px;
	border:none;
	overflow: initial;
}
.floorCentent ul li .box h4{
	position: absolute;
	left: 4px;
	top: 229px;
	font: normal 14px/24px "Microsoft Yahei";
	overflow: hidden;
	width: 211px;
	color:#ec5051;
	font-weight:bold
}
.floorCentent ul li .box h3{
	position: absolute;
	left: 4px;
	top: 250px;
	font: normal 14px/24px "Microsoft Yahei";
	overflow: hidden;
	width: 211px;
	color: #999;
}
.floorCentent ul li .box p{
	position: absolute;
	left: 5px;
	top: 281px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #c00;
	font-family: "Arial";
	width: 212px;
}
.floorCentent ul li .box p i{font-size:12px;color:#999; text-decoration:line-through; font-style:normal }
.floorCentent ul li .box p span{font-size:12px; text-align:right; color:#999; margin:0px 0px 0px 5px; font-weight:normal;}
.floorCentent ul li .box p span samp{color:#eb0a06;}
.floorCentent ul li .box h5{
	position: absolute;
	left: -2px;
	top: 308px;
	font-weight: bold;
	height: 36px;
	color: #c00;
	font-family: "Arial";
	width: 218px;
}
.floorCentent ul li.min{border-bottom:none;}
.floorCentent ul li.bl{border-left:none;}
.floorRight{width:150px; float:right;}
.floorRight .floortop{ position:absolute; top:0px; }
.floorRight .floorimg{ width:150px; padding-top:30px;position:relative;}
.floorRight .floorimg ul li{ width:150px; height:263px;}
/*sfocus*/
/*.slideBox{ width:150px; height:401px; overflow:hidden; position:relative;} 
.slideBox .hd{ height:5px; overflow:hidden; position:absolute; right:50px; bottom:20px; z-index:1;} 
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  } 
.slideBox .hd ul li{ float:left; margin-right:11px; width:39px; height:5px; background:#f6f6f6; cursor:pointer;} 
.slideBox .hd ul li.on{ background:#fe0032;} 
.slideBox .bd{ position:relative; height:100%; z-index:0;} 
.slideBox .bd img{ width:150px; height:263px; }
.slideBox2{ width:264px; height:402px; overflow:hidden; position:relative;} 
.slideBox2 .hd{ height:5px; overflow:hidden; position:absolute; right:50px; bottom:20px; z-index:1;} 
.slideBox2 .hd ul{ overflow:hidden; zoom:1; float:left;  } 
.slideBox2 .hd ul li{ float:left; margin-right:11px; width:39px; height:5px; background:#f6f6f6; cursor:pointer;} 
.slideBox2 .hd ul li.on{ background:#fe0032;} 
.slideBox2 .bd{ position:relative; height:100%; z-index:0;} 
.slideBox2 .bd img{ width:264px; height:402px; }*/

.areas{
z-index: 9000;
border: 2px dashed #a4e271;
position: absolute;
font-weight: bold;
margin: 5px;
padding: 2px;
}
.areasSmall{
z-index: 9000;
position: absolute;
}

.beautybg {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff!important;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
	line-height: 15px;
}.beautybg:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
	color: #fff;
	text-decoration: none;
}.beautybg:active {
	position:relative;
	top:1px;
}
.beautybgFornoColorBox {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
	line-height: 15px;
}.beautybgFornoColorBox:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
	color: #fff;
	text-decoration: none;
}.beautybgFornoColorBox:active {
	position:relative;
	top:1px;
}

.btn_left_right{z-index:11111;position:absolute;font-size:22px; display:block;width:40px!important;height:40px!important;top:50%;margin-top:-37px;display:none;background-color: rgba(0, 0, 0, 0.3);}
#btn_prev{left:300px;}
#btn_next{right:305px;}
.btn_left_right i{
  margin: 0;
  width: auto!important;
  height: 40px;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  top: 0px;
  left: 0px!important;
  position: static!important;
  
} 
.main_image a:hover{
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
}
