@charset "utf-8";
.nav {
    padding-left: 0;
    margin-bottom: 5px;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav>ul{
	margin-top: 0;
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.nav>li {
    position: relative;
    display: block;
	display: list-item;
    text-align: -webkit-match-parent;
    cursor: pointer;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
	display: list-item;
    text-align: -webkit-match-parent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
	background: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer!important;
}

.nav:before, .nav:after {
    display: table;
    content: " ";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav:after {
    clear: both;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}