<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="log.base" value="/usr/local/resin/logs/webapp" />

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	
	<root level="WARN">
		<appender-ref ref="file" />
	</root>
</configuration>
