<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>sql</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<script type="text/javascript" src="/commons/scripts/jquery.js"></script>
		<script type="text/javascript" src="/scripts/vue/vue.min.js"></script>
		<script type="text/javascript" src="/styles/mui/mui.min.js"></script>
		<script type="text/javascript" src="/styles/mui/common.js?v201810082"></script>
		<script type="text/javascript" src="/m/scripts/public.js?v20180719"></script>
		<link href="/m/styles/css/common/common_v1.css?v=20180319" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/m/styles/themes/css/icon.css" />
		<link href="/styles/mui/css/mui.min.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			#id {
				padding: 10px;
			}

			textarea {
				width: 800px;
				height: 300px;
				border: 1px solid #e2e2e2;
			}

			.sub-div {
				text-align: center;
				margin-top: 10px;
			}

			.textarea-div {
				text-align: center;
			}
		</style>
	</head>

	<body style="font-size: 17px !important;">

		<div id="app" v-cloak>
			<div class="textarea-div">
				<textarea rows="" cols="" id="old" v-model="old" name="old"></textarea>

			</div>
			<div class="textarea-div">
				<textarea rows="" cols="" id="new_str" v-model="new_str" name="new_str"></textarea>
			</div>

			<div class="sub-div">
				<input id="sub" @click="sub" class="sub" name="sub" value="提交" type="button" />
			</div>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					datas: "",
					ctx: Common.api,
					startPage: 0,
					old: "",
					new_str: "",
				},
				mounted: function() {
					this.$nextTick(function() {
						this.getAjaxData();
					});
				},
				updated: function() {

				},
				methods: {
					getAjaxData: function() {
						console.info("======")
					},
					sub: function() {
						// 						console.info("======" + vm.old);
						if (vm.old.length == 0) {
							return false;
						}
						console.info(vm.old.split("\n"))
						// 						console.info("==========================" + vm.old.split("\n").length)
						var strarr = vm.old.split("\n");
						// 						for(var i = 0;i < strarr.length;i++){
						// 							console.info("=====i======"+i)
						// 							console.info(strarr[i]);
						// 						}
						var str1 = vm.old.split("\n")[0];
						var str2 = strarr[1].split("Parameters:")[1];

						var str3 = strarr[2].split("Types:")[1];
						console.info("=====sql=======")
						console.info(str1)
						console.info("=====value=======")
						console.info(str2)
						console.info("=====type=======")
						console.info(str3)


						str2 = str2.replace("[", "").replace("]", "")
						str3 = str3.replace("[", "").replace("]", "")

						var values = str2.split(",");
						var types = str3.split(",");
						console.info(values.length);
						for (var i = 0; i < values.length; i++) {
							var x = values[i];
							var this_type = types[i];
							console.info("x【" + x + "】-type【" + this_type+"】")
							if (this_type.indexOf("Integer") == -1) {
								x = "'" + x + "'";
							}
							str1 = str1.replace("?", x);

						}
						vm.new_str = str1;
					},


				}
			});
		</script>
	</body>

</html>
